<nav aria-label="breadcrumb">
	<ul class="breadcrumb auto-breadcrumb">
        {% for breadcrumb in breadcrumbs %}
			<li class="breadcrumb-item us-breadcrumb-item">{{ breadcrumb.text }}</li>
        {% endfor %}
	</ul>
</nav>
<div id="sections">
    {% for section in sections %}
		{% if section.name %}
			<div class="section us-categories-item">
				<div class="d-flex">
					<a id="{{ sections.vehicle_section_path }}-{{ section.id }}" class="us-categories-toggle">{% if section.has_subsections == true %}<i class="fas fa-chevron-down"></i>&nbsp;{% endif %}<span>{{ section.name }}</span></a>
				</div>
				{% if section.has_subsections == true %}
					<div class="subsections">
						{% for sub_section in section.subsection %}
							<div class="subsection-item">
								<a id="{{ sections.vehicle_section_path }}-{{ sub_section.id }}" class="us-categories-toggle">
									<span>{{ sub_section.name }}</span></a>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
</div>
