{% if banners %}
<div class="row row-padding-top">
	<div class="col-lg-5 container" id="select-parts">
		<div><strong>{{ select_part_title }}</strong></div>
		<div class="row"><div class="col-4">1 {{ license_plate_label }}</div><div class="col-8"><input id="search_auto"  name="search_auto" minlength="8" maxlength="8" placeholder="AAXXXXBB"></div></div>
		<form id="select-engine" action="index.php?route=category/category" method="post">
			<input type="hidden" name="vehicle_section_path">

			<div class="row"><div class="col-4">2 {{ select_brand_label }}</div><div class="col-8"><select name="brand" id="select_brand">{{ select_brand }}</select></div></div>
			<div class="row"><div class="col-4">3 {{ select_model_label }}</div><div class="col-8"><select name="model" id="select_model">{{ select_model }}</select></div></div>
			<div class="row"><div class="col-4">4 {{ select_engin_label }}</div><div class="col-8"><select name="engin" id="select_engin">{{ select_engin }}</select></div></div>
			<div class="row action-row"><div class="us-module-btn us-module-btn-green" id="serch-parts-btn">
				<i class="fa fa-search"></i><input class="us-module-btn us-module-btn-green" type="submit" value="{{ button_continue }}" /></div>
				<div class="us-module-btn us-module-btn-green" onclick="getBrands('')">
					<input class="us-module-btn us-module-btn-green"  type="button" value="{{ button_cancel }}" /></div>
			</div>
		</form>
	</div>
	<div class="col-lg-7">
		  <div id="slideshow{{ module }}" class="owl-carousel default-slideshow">
		   {% for banner in banners %}
		      <div class="item text-center">
		      {% if banner.link %}
		      <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" /></a>
		      {% else %}
		      <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" />
		      {% endif %}
		      </div>
		    {% endfor %}
		  </div>
	</div>
</div>
<script>
    getBrands();
	$('#slideshow{{ module }}').owlCarousel({
		items: 1,
		loop: true,
		autoplay: true,
		autoplayHoverPause: true,
		autoplayTimeout: 5000,
		autoplaySpeed: 500,
		nav: true,
		pagination: true
	});
	$('#search_auto').on('keyup', function () {
		if($(this).val().length == 8) {
			$.ajax({
				url: 'index.php?route=product/product/gettdvehiclesuggest',
				data: {license_plate: $(this).val()},
				type: 'post',
				success:function (json) {
					let brand_options = '';
					let model_options = '';
					let engin_options = '';
					$.each(JSON.parse(json), function (key, brand) {
						brand_options += '<option id="'+brand.id+'" >'+brand.name+'</option>';
						$.each(brand.nodes, function (brand_id, model) {
							model_options += '<option id="'+model.id+'" >'+model.name+'</option>';
							$.each(model.nodes, function (model_id, engin) {
							    if ( $('input[name=vehicle_section_path]').val() == undefined){
                                    $('input[name=vehicle_section_path]').val(engin.id);
								}
								engin_options += '<option id="'+engin.id+'" >'+engin.name+'</option>';
							})
						})
					})
					$('#select_brand').html(brand_options);
					$('#select_model').html(model_options);
					$('#select_engin').html(engin_options);
				}
			})
		}else{
            $('input[name=vehicle_section_path]').val('');
		}
	})

    $(document).delegate('#select_brand, #select_model, #select_engin', 'change', function (e) {
        getBrands(e.target.getElementsByTagName('option')[e.target.selectedIndex].getAttribute('id'));
    })

	function getBrands(brand_id) {
	    $('#search_auto').val('');
	    if(brand_id == undefined) {
            brand_id = '';
        }
        //Загружаю модели машин и модификации к ним
        $.ajax({
            url:'index.php?route=product/product/getbrands',
			data:{brand_id:brand_id},
            tyle:'get',
            beforeSend:function () {
                $('#select_brand').html('');
                $('#select_model').html('');
                $('#select_engin').html('');
            },
            success:function (result) {
                let brendsHtml = '';
                let modelHtml = '';
                let enginHtml = '';
                $.each(JSON.parse(result).brands, function (key, item) {
                    brendsHtml += '<option id="'+item.id+'" >'+item.name+'</option>';
                })
                $.each(JSON.parse(result).model, function (key, item) {
                    modelHtml += '<option id="'+item.id+'" >'+item.name+'</option>';
                })

                $.each(JSON.parse(result).engine, function (key, item) {
                    if($('input[name=vehicle_section_path]').val().length == 0){
                        $('input[name=vehicle_section_path]').val(item.id);
					}
                    enginHtml += '<option id="'+item.id+'" >'+item.name+'</option>';
                })
				if(JSON.parse(result).brands != undefined) {
                    $('#select_brand').html(brendsHtml);
                }
                if(JSON.parse(result).model != undefined) {
                    $('#select_model').html(modelHtml);
                }
                if(JSON.parse(result).engine != undefined) {
                    $('#select_engin').html(enginHtml);
                }
            }
        })
    }
</script>

{% endif %}