{{ header }}
<div id="product-product" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row">
		<div id="content" class="col-12">
			<div class="us-product">
				<div class="us-product-top d-flex">
					{% if thumb or images %}
					<div class="us-product-left">
						{% if thumb %}
						<div class="us-product-photo-main mb-4">
							<a href="javascript:;" class="oct-gallery">
								<img src="{{ thumb }}" class="img-fluid" alt="{{ heading_title }}" title="{{ heading_title }}" />
							</a>
						</div>
						{% endif %}
						{% if images %}
						<div class="image-additional-box">
							<div id="image-additional" class="owl-carousel">
								{% for key,image in images %}
								{% set i = key + 1 %}
								<div class="image-additional-item">
									<a class="additional-gallery-item{% if key == 0 %} active{% endif %}" href="{{ image.popup }}" data-href="{{ image.popup }}">
										<img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
									</a>
								</div>
								{% endfor %}
							</div>
						</div>
						<script>
							$(function () {
								setTimeout(function(){
							        $('.image-additional-box').fadeIn('fast');
							    },500);

							    $('#image-additional').owlCarousel({
								    loop:false,
								    margin:15,
								    nav:true,
								    dots: false,
								    autoplay: false,
								    responsive:{
								        0:{
								            items:2
								        },
								        400:{
								            items:3
								        },
								        1000:{
								            items:5
								        }
								    }
								})
							});
						</script>
						{% endif %}
					</div>
					{% endif %}
					<div class="us-product-right">
						<div class="us-product-rating-wishlist d-flex align-items-center justify-content-between">
							{% if review_status %}
							<div class="us-product-rating d-flex align-items-center">
								<div class="us-module-rating-stars d-flex align-items-center">
									{% for i in 1..5 %}
									{% if rating < i %}
									<span class="us-module-rating-star"></span>
									{% else %}
									<span class="us-module-rating-star us-module-rating-star-is"></span>
									{% endif %}
									{% endfor %}
								</div>
								<div class="us-product-top-reviews">{{ oct_product_reviews }} </div>
								<a href="javascript:;" onclick="scrollToElement('#us-product-page-reviews');" class="us-product-link">({{ total_reviews }})</a>
							</div>
							{% endif %}
							{% if oct_ultrastore_data.product_wishlist is defined or oct_ultrastore_data.product_compare is defined %}
							<div class="btn-group us-product-compare-wishlist">
								{% if oct_ultrastore_data.product_wishlist is defined and oct_ultrastore_data.product_wishlist == 'on' %}
								<button type="button" data-toggle="tooltip" class="compare-wishlist-btn" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="far fa-heart"></i></button>
								{% endif %}
								{% if oct_ultrastore_data.product_compare is defined and oct_ultrastore_data.product_compare == 'on' %}
								<button type="button" data-toggle="tooltip" class="compare-wishlist-btn" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fas fa-sliders-h"></i></button>
								{% endif %}
							</div>
							{% endif %}
						</div>
						<div class="us-product-info">
							<ul class="us-product-info-list list-unstyled">
								{% if manufacturer %}
								<li class="us-product-info-item us-product-info-item-manufacturer">{{ text_manufacturer }} <a href="{{ manufacturers }}" class="us-product-link us-product-info-item-link">{{ manufacturer }}</a></li>
								{% endif %}
								{% if oct_ultrastore_data.product_model is defined and oct_ultrastore_data.product_model == 'on' %}
								<li class="us-product-info-item us-product-info-item-model">{{ text_model }} <span class="us-product-info-code">{{ model }}</span></li>
								{% endif %}
								{% if sku and (oct_ultrastore_data.product_sku is defined and oct_ultrastore_data.product_sku == 'on') %}
								<li class="us-product-info-item us-product-info-item-sku">{{ oct_live_search_sku }} <span class="us-product-info-code">{{ sku }}</span></li>
								{% endif %}
								{% if reward %}
								<li class="us-product-info-item us-product-info-item-reward">{{ text_reward }} <span class="us-product-info-code">{{ reward }}</span></li>
								{% endif %}
								<li class="us-product-info-item us-product-info-item-stock{% if out_of_stock %} us-out-of-stock{% endif %}">{{ text_stock }} <span class="us-product-info-is">{{ stock }}</span></li>
							</ul>
							{% if price %}
							<div class="us-price-block{% if not special %} us-price-block-not-special{% endif %} d-flex align-items-center">
								{% if not special %}
								<div class="us-price-actual">{{ price }}</div>
								{% else %}
								<div class="us-price-new">{{ special }}</div>
								<div class="us-price-old">{{ price }}</div>
								{% endif %}
							</div>
							{% if tax %}
							<div class="us-product-points">{{ text_tax }} {{ tax }}</div>
							{% endif %}
							{% if points %}
							<div class="us-product-points">{{ text_points }} {{ points }}</div>
							{% endif %}
							{% if discounts %}
							{% for discount in discounts %}
							<div class="us-product-points">{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</div>
							{% endfor %}
							{% endif %}
							{% endif %}
						</div>
						{% if oct_attributs %}
						<div class="us-product-attr">
							<div class="us-product-attr-top d-flex justify-content-between align-items-center">
								<div class="us-product-attr-title">{{ oct_product_attributes }}</div>
								<a href="javascript:;" onclick="scrollToElement('#us-product-attributes');" class="us-product-link">{{ oct_product_all_attributes }}</a>
							</div>
							<div class="us-product-attr-cont">
							{% for attribute in oct_attributs %}
								<div class="us-product-attr-item d-flex justify-content-between">
									<span>{{ attribute.name }}:</span>
									<span>{{ attribute.text }}</span>
								</div>
							{% endfor %}
							</div>
						</div>
						{% endif %}
						<div id="product" class="us-product-action d-lg-flex justify-content-between">
							<div class="us-product-action-left">
								{% if options %}
								<div class="us-product-option" id="us-product-options-box">
									<div class="us-product-option-title">{{ text_option }}</div>
									{% for option in options %}
									{% if option.type == 'select' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="us-acc-select">
											<option value="">{{ text_select }}</option>
											{% for option_value in option.product_option_value %}
											<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
												{% if option_value.price %}
												({{ option_value.price_prefix }}{{ option_value.price }})
												{% endif %}
											</option>
											{% endfor %}
										</select>
									</div>
									{% endif %}
									{% if option.type == 'radio' %}
									<div class="form-group">
										<label class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<div id="input-option{{ option.product_option_id }}" class="options-box d-xl-flex flex-wrap align-items-center">
											{% for option_value in option.product_option_value %}
											<div class="radio">
												<label data-toggle="tooltip" data-trigger="hover" class="optid {{ option.product_option_id }} not-selected{% if option_value.image %} radio-img{% endif %}" {% if option_value.price %}title="{{ option_value.price_prefix }}{{ option_value.price }}"{% endif %}>
												<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" class="d-none" />
												{% if option_value.image %}
												<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"  />
												{% else %}
												{{ option_value.name }}
												{% endif %}
												</label>
												<script>
													$(document).ready(function() {
														$('label.optid.{{ option.product_option_id }}').click(function(){
															$('label.optid.{{ option.product_option_id }}').removeClass('selected').addClass('not-selected');
															$(this).removeClass('not-selected').addClass('selected');
														});
													});
												</script>
											</div>
											{% endfor %}
										</div>
									</div>
									{% endif %}
									{% if option.type == 'checkbox' %}
									<div class="us-form-checkbox-group">
										<div class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</div>
										<div id="input-option{{ option.product_option_id }}">
											{% for option_value in option.product_option_value %}
											<div class="checkbox">
												<input type="checkbox" id="option[{{ option.product_option_id }}][{{ option_value.product_option_value_id }}]" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" class="us-form-checkbox-input" />
												<label for="option[{{ option.product_option_id }}][{{ option_value.product_option_value_id }}]" class="d-flex align-items-center">{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
												<span>{{ option_value.name }}
												{% if option_value.price %}
												({{ option_value.price_prefix }}{{ option_value.price }})
												{% endif %}</span></label>
											</div>
											{% endfor %}
										</div>
									</div>
									{% endif %}
									{% if option.type == 'text' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
									</div>
									{% endif %}
									{% if option.type == 'textarea' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
									</div>
									{% endif %}
									{% if option.type == 'file' %}
									<div class="form-group">
										<label class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="us-module-btn"><i class="fa fa-upload"></i> {{ button_upload }}</button>
										<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
									</div>
									{% endif %}
									{% if option.type == 'date' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<div class="input-group date">
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
											<span class="input-group-btn">
											<button class="us-module-btn" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</div>
									{% endif %}
									{% if option.type == 'datetime' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<div class="input-group datetime">
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
											<span class="input-group-btn">
											<button type="button" class="us-module-btn"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</div>
									{% endif %}
									{% if option.type == 'time' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<div class="input-group time">
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
											<span class="input-group-btn">
											<button type="button" class="us-module-btn"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</div>
									{% endif %}
									{% endfor %}
								</div>
								{% endif %}
								{% if recurrings %}
								<div class="us-product-option">
									<div class="us-product-option-title">{{ text_payment_recurring }}</div>
									<div class="form-group required">
										<select name="recurring_id" class="form-control">
											<option value="">{{ text_select }}</option>
											{% for recurring in recurrings %}
											<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
											{% endfor %}
										</select>
										<div class="help-block" id="recurring-description"></div>
									</div>
								</div>
								{% endif %}
								<div class="us-product-quantity">
									<label class="control-label product-quantity-label" for="input-quantity">{{ entry_qty }}:</label>
									<div class="btn-group us-product-quantity" role="group">
										<button type="button" class="us-product-quantity-btn" onclick="updateValueProduct(true, false, false);">-</button>
										<input type="text" class="form-control" name="quantity" value="{{ minimum }}" id="input-quantity" />
										<input type="hidden" name="product_id" value="{{ product_id }}" />
										<button type="button" class="us-product-quantity-btn" onclick="updateValueProduct(false, true, false);">+</button>
										<input type="hidden" id="min-product-quantity" value="{{ minimum }}" name="min_quantity">
										<input type="hidden" id="max-product-quantity" value="{{ max_quantity }}" name="max_quantity">
									</div>
									{% if minimum > 1 %}
									<div class="us-product-minimum"><i class="fas fa-info-circle"></i> {{ text_minimum }}</div>
									{% endif %}
								</div>
								<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="us-product-btn us-product-btn-active">{{ button_cart }}</button>
								{% if product_js_button is defined and product_js_button %}
								<div class="us-product-social-buttons">{{ product_js_button }}</div>
								{% endif %}
							</div>
							{% if (oct_ultrastore_data.product_advantage is defined and oct_ultrastore_data.product_advantage == 'on') and (oct_product_advantages is defined and oct_product_advantages is not empty) %}
							<div class="us-product-action-right">
								{% for advantage in oct_product_advantages %}
								<div class="us-product-advantages-item d-flex justify-content-between align-items-center">
									<div class="us-product-advantages-icon">
										<i class="{{ advantage.icone }}"></i>
									</div>
									<div class="us-product-advantages-cont">
										<a href="{{ advantage.link }}" {% if advantage.information_id and advantage.popup %}data-rel="{{ advantage.information_id }}"{% else %}target="_blank"{% endif %} class="us-product-advantages-link{% if advantage.popup %} agree{% endif %}" >{{ advantage.title }}</a>
										<p class="us-product-advantages-text">{{ advantage.text }}</p>
									</div>
								</div>
								{% endfor %}
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				<ul class="us-product-description-nav list-unstyled d-flex align-items-center">
					{% if description %}
					<li class="us-product-nav-item us-product-nav-item-active">
						<a href="javascript:;">{{ oct_product_maintab }}</a>
					</li>
					{% endif %}
					{% if attribute_groups %}
					<li class="us-product-nav-item{% if not description %} us-product-nav-item-active{% endif %}">
						<a href="javascript:;" onclick="scrollToElement('#us-product-attributes');">{{ tab_attribute }}</a>
					</li>
					{% endif %}
					{% if (dop_tab.title is defined and dop_tab.title) and (dop_tab.text is defined and dop_tab.text) %}
					<li class="us-product-nav-item">
						<a href="javascript:;" onclick="scrollToElement('#us-related-dop_tab-row');">{{ dop_tab.title }}</a>
					</li>
					{% endif %}
					{% if oct_product_extra_tabs %}
					{% set key = 0 %}
					{% for extra_tab in oct_product_extra_tabs %}
					{% set key = key + 1 %}
					<li class="us-product-nav-item">
						<a href="javascript:;" onclick="scrollToElement('#us-product-extra-tab-{{ key }}');">{{ extra_tab.title }}</a>
					</li>
					{% endfor %}
					{% endif %}
					{% if review_status %}
					<li class="us-product-nav-item{% if not description and not attribute_groups %} us-product-nav-item-active{% endif %}">
						<a href="javascript:;" onclick="scrollToElement('#us-product-page-reviews');">{{ tab_review }}</a>
					</li>
					{% endif %}
					{% if products %}
					<li class="us-product-nav-item">
						<a href="javascript:;" onclick="scrollToElement('#us-related-products-row');">{{ oct_product_related }}</a>
					</li>
					{% endif %}
				</ul>
				{% if description %}
				<div class="us-product-description-cont">
					{{ description }}
					{% if tags %}
					<p class="us-product-tags">{{ text_tags }}
						{% for i in 0..tags|length %}
						{% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
						{% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
						{% endfor %}
					</p>
					{% endif %}
				</div>
				{% endif %}
				{% if attribute_groups %}
				<div id="us-product-attributes" class="us-product-attributes">
					{% if description %}<div class="us-page-main-title">{{ oct_product_attributes_tab }}</div>{% endif %}
					{% for attribute_group in attribute_groups %}
					<div class="us-product-attributes-cont">
						<div class="us-product-attributes-title">{{ attribute_group.name }}</div>
						{% for attribute in attribute_group.attribute %}
						<div class="us-product-attr-item d-flex justify-content-between">
							<span>{{ attribute.name }}</span>
							<span>{{ attribute.text }}</span>
						</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
				{% endif %}
				{% if (dop_tab.title is defined and dop_tab.title) and (dop_tab.text is defined and dop_tab.text) %}
				<div id="us-related-dop_tab-row" class="us-product-description-cont">
					<div class="us-page-main-title">{{ dop_tab.title }}</div>
					{{ dop_tab.text }}
				</div>
				{% endif %}
				{% if oct_product_extra_tabs %}
				{% set key = 0 %}
				{% for extra_tab in oct_product_extra_tabs %}
				{% set key = key + 1 %}
				<div id="us-product-extra-tab-{{ key }}" class="us-product-extra-tab-content">
					<div class="us-page-main-title">{{ extra_tab.title }}</div>
					{{ extra_tab.text }}
				</div>
				{% endfor %}
				{% endif %}
				{% if review_status %}
				<div id="us-product-page-reviews" class="us-reviews">
					<div class="row">
						<div class="col-12">
							<div class="us-reviews-top d-flex justify-content-between align-items-start">
								<div class="us-page-main-title">{{ tab_review }}</div>
								{% if review_guest %}
								<button type="button" class="us-module-btn us-module-btn-green" data-toggle="modal" data-target="#us-review-modal">{{ text_write }}</button>
								<div class="modal" id="us-review-modal" tabindex="-1" role="dialog" aria-labelledby="us-review" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<div class="modal-title" id="us-review">{{ text_write }}</div>
												<button type="button" class="us-close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true" class="us-modal-close-icon us-modal-close-left"></span>
												<span aria-hidden="true" class="us-modal-close-icon us-modal-close-right"></span>
												</button>
											</div>
											<div class="modal-body us-modal-body-one-click">
												<form id="form-review" class="d-flex">
													<div class="us-modal-body-one-click-left text-center">
														<img src="{{ thumb }}" class="us-modal-body-img" title="{{ heading_title }}" alt="{{ heading_title }}">
														<div class="product_title">{{ heading_title }}</div>
														<div class="us-review-block d-flex align-items-center justify-content-center">
															<div class="control-label">{{ entry_rating }}</div>
															<div class="us-module-rating-stars d-flex align-items-center">
																<label class="us-module-rating-star"><input class="d-none" type="radio" name="rating" value="1" /></label>
																<label class="us-module-rating-star"><input class="d-none" type="radio" name="rating" value="2" /></label>
																<label class="us-module-rating-star"><input class="d-none" type="radio" name="rating" value="3" /></label>
																<label class="us-module-rating-star"><input class="d-none" type="radio" name="rating" value="4" /></label>
																<label class="us-module-rating-star"><input class="d-none" type="radio" name="rating" value="5" /></label>
															</div>
															<script>
																$(document).ready(function() {
																	$('#form-review .us-module-rating-star').on('click', function () {
																		if ($(this).hasClass('us-module-rating-star-is')){
																			$(this).nextAll().removeClass('us-module-rating-star-is');
																		} else {
																			$(this).addClass('us-module-rating-star-is');
																			$(this).prevAll().addClass('us-module-rating-star-is');
																		}
																	});
																});
															</script>
														</div>
													</div>
													<div class="us-modal-body-one-click-right">
														<div class="form-group-20">
															<input type="text" name="name" class="form-control" id="InputName" placeholder="{{ entry_name }}">
														</div>
														<div class="form-group-10">
															<textarea id="input-review" name="text" class="form-control" placeholder="{{ oct_product_yourreview }}"></textarea>
														</div>
														<div class="us-modal-comment">{{ text_note }}</div>
														<div class="form-group-20">
															{{ captcha }}
														</div>
														<div class="btn-group" role="group" aria-label="us-cont-btn">
															<button type="button" id="button-review" class="us-module-btn us-module-btn-green">{{ button_continue }}</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div id="review">
						{% if oct_reviews_list is not empty %}
						{{ oct_reviews_list }}
						{% endif %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% if products %}
	<div class="row row-padding-top" id="us-related-products-row">
		<div class="col-lg-12">
			<div class="us-main-shop-title">{{ text_related }}</div>
		</div>
	</div>
	<div id="us-related-products" class="row">
		{% for product in products %}
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 us-item">
			<div class="us-module-item d-flex flex-column">
				<ul class="us-module-buttons-list">
					<li class="us-module-buttons-item">
						<a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="far fa-heart"></i></a>
					</li>
					<li class="us-module-buttons-item">
						<a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fas fa-sliders-h"></i></a>
					</li>
				</ul>
				<div class="us-module-img">
					<a href="{{ product.href }}">
					<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
					</a>
				</div>
				<div class="us-module-title flex-grow-1">
					<a href="{{ product.href }}">{{ product.name }}</a><br>
					{{ product.brand }}
				</div>
				{#{% if product.rating is not same as(false) %}#}
				{#<div class="us-module-rating d-flex align-items-center justify-content-center">#}
					{#<div class="us-module-rating-stars d-flex align-items-center">#}
						{#{% for i in 1..5 %}#}
						{#{% if product.rating < i %}#}
						{#<span class="us-module-rating-star"></span>#}
						{#{% else %}#}
						{#<span class="us-module-rating-star us-module-rating-star-is"></span>#}
						{#{% endif %}#}
						{#{% endfor %}#}
					{#</div>#}
					{#<div class="us-module-reviews">#}
						{#<i class="fas fa-comment">#}
						{#<span>{{ product.reviews }}</span>#}
						{#</i>#}
					{#</div>#}
				{#</div>#}
				{#{% endif %}#}
				{% if product.price %}
				<div class="us-module-price">
					{% if not product.special %}
					<span class="us-module-price-actual">{{ product.price }}</span>
					{% else %}
					<span class="us-module-price-old">{{ product.price }}</span><span class="us-module-price-new">{{ product.special }}</span>
					{% endif %}
					{% if product.tax %}
					<div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
					{% endif %}
				</div>
				{% endif %}
				<a href="javascript:void(0);" onclick="cart.add('{{ product.product_id }}');" class="us-module-cart-btn button-cart">{{ button_cart }}</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="us-module-button">
				<button id="us-related-products-button" class="us-module-btn">{{ oct_show_more }}</button>
			</div>
		</div>
	</div>
	<script>
		octShowProducts('us-related-products-button', 'us-related-products', '8', '{{ products|length }}');
	</script>
	{% endif %}
	{{ content_bottom }}
</div>
{% if oct_is_youtube %}
<script>
function findVideos() {
	let videos = document.querySelectorAll('.us-video');

	for (let i = 0; videos.length > i; i++) {
		setupVideo(videos[i]);
	}
}

function setupVideo(video) {
	let link = video.querySelector('.us-video__link');
	let media = video.querySelector('.us-video__media');
	let button = video.querySelector('.us-video__button');
	let id = parseMediaURL(media);

	video.addEventListener('click', () => {
		let iframe = createIframe(id);

		link.remove();
		button.remove();
		video.appendChild(iframe);
	});

	link.removeAttribute('href');
	video.classList.add('us-video--enabled');
}

function parseMediaURL(media) {
	let regexp = /https:\/\/i\.ytimg\.com\/vi\/([a-zA-Z0-9_-]+)\/maxresdefault\.jpg/i;
	let url = media.src;
	let match = url.match(regexp);

	return match[1];
}

function createIframe(id) {
	let iframe = document.createElement('iframe');

	iframe.setAttribute('allowfullscreen', '');
	iframe.setAttribute('allow', 'autoplay');
	iframe.setAttribute('src', generateURL(id));
	iframe.classList.add('us-video__media');

	return iframe;
}

function generateURL(id) {
	let query = '?rel=0&showinfo=0&autoplay=1';

	return 'https://www.youtube.com/embed/' + id + query;
}

findVideos();
</script>
{% endif %}
<script>
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		cache: false,
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
</script>
<script>
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		cache: false,
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					let errorOption = '';
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
						errorOption += '<div class="alert-text-item">' + json['error']['option'][i] + '</div>';
					}
					usNotify('danger', errorOption);
				}

				if (json['error']['error_warning']) {
					usNotify('danger', json['error']['error_warning']);
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				usNotify('success', json['success']);

				if(typeof octYandexEcommerce == 'function') {
					octYandexEcommerce(json);
		        }

				// Need to set timeout otherwise it wont update the total
				setTimeout(function () {
					$('#oct-cart-quantity, .header-cart-index, .mobile-header-index').html(json['total_products']);
					$('.us-cart-text').html(json['total_amount']);
				}, 100);
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
</script>
<script>
{% if oct_datetimepicker is defined and oct_datetimepicker %}
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false,
	icons: {
		time: 'fa fa-clock',
		date: 'fa fa-calendar-alt',
		up: 'fa fa-arrow-up',
		down: 'fa fa-arrow-down',
		previous: 'fa fa-chevron-left',
		next: 'fa fa-chevron-right',
		today: 'fa fa-calendar-check',
		clear: 'fa fa-trash-alt',
		close: 'fa fa-times'
	}
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true,
	icons: {
		time: 'fa fa-clock',
		date: 'fa fa-calendar-alt',
		up: 'fa fa-arrow-up',
		down: 'fa fa-arrow-down',
		previous: 'fa fa-chevron-left',
		next: 'fa fa-chevron-right',
		today: 'fa fa-calendar-check',
		clear: 'fa fa-trash-alt',
		close: 'fa fa-times'
	}
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false,
	icons: {
		time: 'fa fa-clock',
		date: 'fa fa-calendar-alt',
		up: 'fa fa-arrow-up',
		down: 'fa fa-arrow-down',
		previous: 'fa fa-chevron-left',
		next: 'fa fa-chevron-right',
		today: 'fa fa-calendar-check',
		clear: 'fa fa-trash-alt',
		close: 'fa fa-times'
	}
});
{% endif %}

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
</script>
<script>
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

//$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		cache: false,
		data: $('#form-review').serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				usNotify('danger', json['error']);
			}

			if (json['success']) {
				usNotify('success', json['success']);
				$('#us-review-modal').modal('hide');
				$('input[name=\'name\']').val('');
				$('#InputPluces').val('');
				$('#InputMinuces').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
				$('.us-module-rating-star-is').removeClass('us-module-rating-star-is');
			}
		}
	});
});

$('#input-quantity').on('change',function(e){
	updateValueProduct(false, false, true);
});

function updateValueProduct(minus, plus, manual) {
	let min = parseInt($('#input-quantity').val());
	let currentMinimum = parseInt($('#min-product-quantity').val());
	let max = parseInt($('#max-product-quantity').val());

	if(max === 0) return;

	if (minus && min > 1) {

		if (min <= currentMinimum) {
			$('#input-quantity').val(currentMinimum);
			updateProductPrice();
			return;
		} else if (min > max) {
			$('#input-quantity').val(max);
			updateProductPrice();
			return;
		}

		$('#input-quantity').val(~~$('#input-quantity').val()-1);
	}

	if (plus) {
		if(max && min > max-1) {
			$('#input-quantity').val(max);
			updateProductPrice();
			return;
		} else if (min < currentMinimum) {
			$('#input-quantity').val(currentMinimum);
			updateProductPrice();
			return;
		}

		$('#input-quantity').val(~~$('#input-quantity').val()+1);
	}

	if (manual) {

		if (min <= currentMinimum) {
			$('#input-quantity').val(currentMinimum);
			updateProductPrice();
			return;
		} else if (min > max) {
			$('#input-quantity').val(max);
			updateProductPrice();
			return;
		}

	}

	updateProductPrice();
}

$('#us-product-options-box input, #us-product-options-box select ').on('change', function() {
	updateProductPrice();
});

function updateProductPrice() {
	$.ajax({
		type: 'post',
		url:  'index.php?route=product/product/updatePrices',
		data: $('#product-product input[type=\'text\'], #product-product input[type=\'hidden\'], #product-product input[type=\'radio\']:checked, #product-product input[type=\'checkbox\']:checked, #product-product select'),
		dataType: 'json',
		cache: false,
		success: function(json) {
			{% if special %}
			$('#product-product .us-price-old').html(json['price']);
			$('#product-product .us-price-new').html(json['special']);
			{% else %}
			$('#product-product .us-price-actual').html(json['price']);
			{% endif %}

			{% if tax %}
			$('#us-product-modal-tax').html(json['tax']);
			{% endif %}
		}
	});
}
{% if minimum > 1 %}
updateProductPrice();
{% endif %}
</script>
{{ footer }}
